<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pages.css" rel="stylesheet">
	<link href="/css/settings.css" rel="stylesheet">

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="jumbotron" id="indexJumboPost">
		<a href="/"><img src="../images/back.png" alt="Back image" class="backimg"></a>
		<a href="/"><img src="../images/home.png" alt="Home image" class="homeimg"></a>
		<center><p id="profileHead">My Favorites</p></center>
	</div>


	<div class="container">

<div class="circle">
	<img src="../images/favoritesStar.png" alt= "starimage"class="star">
</div>

<div class="threads">
	<h1> Hidden Heroes </h1>
	<p class="nameDate"> Sonia G. 12/10/2016 </p>
</div>

<div class="threads">
	<h1> Caregiver of the week! </h1>
  <p class="nameDate"> Wildred M. 11/5/2016 </p>
</div>

<div class="threads">
	<h1> For when times are rough. </h1>
  <p class="nameDate"> Lisa P. 8/5/2011 </p>
</div>

<div class="threads">
	<h1> How to listen </h1>
  <p class="nameDate"> Presley M. 10/24/2014 </p>
</div>

<div class="threads">
	<h1> My favorite support groups </h1>
  <p class="nameDate"> Don H. 2/14/2001 </p>
</div>

<div class="threads">
	<h1> There are good days ahead</h1>
  <p class="nameDate"> Will R. 11/30/2013 </p>
</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
