<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pages.css" rel="stylesheet">
	<link href="/css/settings.css" rel="stylesheet">

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="jumbotron" id="indexJumboPost">
		<img src="../images/back.png" alt="Back image" class="backimg">
		<a href="/"><img src="../images/home.png" alt="Home image" class="homeimg"></a>
		<center><p id="profileHead">Feedback</p></center>
	</div>

	<div class="container">

<p id= "feedbackText"> This app is made with love.<br/>
	  What do you love about the app?<br/>
	  What can we improve on to make this your favorite app? </p>

<div class="feedbackBox">
  <h1 id="enterText"> Enter Text </h1>
</div>

<div class="ratingSend">
<ul id="ratingContainer">
	<li>	<a href="/"><img src="../images/starRating.png" alt="4 star rating" class="starRating"></a>
</li>
<li>	<p id="send"> Send </p>
</li>
</ul>
</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
