<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pages.css" rel="stylesheet">
	<link href="/css/discpagestyle.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="jumbotron" id="indexJumboPost">
		<a href="/"><img src="../images/back.png" alt="Back image" class="backimg"></a>
		<a href="/"><img src="../images/home.png" alt="Home image" class="homeimg"></a>
		<center><p id="profileHead">Recent</p></center>
	</div>
	<div class="container">
		<center><a href="/"><img src="../images/clock.png" alt="catpic" class="category" id="clock"></a></center>
		<div class="individualPost">
			<a href= "individualPost/How to prevent wandering"><h1 class="title"> How to prevent wandering? </h1></a>
			<p class="authortitle"> Tom L. - April 9, 2017 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/Hidden Heroes"><h1 class="title"> Hidden Heroes </h1></a>
			<p class="authortitle"> Sonia G. - Dec 30, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/Sundowning Effect"><h1 class="title"> Sundowning Effect </h1></a>
			<p class="authortitle"> Julianne H. - Sept 7, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/What are the closest support centers around San Diego"><h1 class="title"> What are the closest support centers around San Diego </h1></a>
			<p class="authortitle"> John T. - Jun 25, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/How to shower your parent?"><h1 class="title"> How to shower your parent? </h1></a>
			<p class="authortitle"> Terry J. - March 14, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/My mom forgot who I am. How do I cope with this?">"<h1 class="title"> My mom forgot who I am. How do I cope with this? </h1></a>
			<p class="authortitle"> Michael K. - Jan 2, 2016 </p>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
