<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pages.css" rel="stylesheet">
	<link href="/css/fluxx.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="jumbotron" id="indexJumboPost">
		<a href="/"><img src="../images/back.png" alt="Back image" class="backimg"></a>
		<a href="/"><img src="../images/home.png" alt="Home image" class="homeimg"></a>
		<center><p id="profileHead">Support</p></center>
	</div>

	<div class="container">
		<div class="support">
			<h1>Alzheimer's Association</h1>
			<p> 24/7 Helpline<br>1 (800) 272-3900<br>
				<a href="http://www.alz.org/" target="_blank">www.alz.org</a></P>
		</div>
		<div class="support">
			<h1>Alzheimer's Foundation of America (AFA)</h1>
			<p>Toll-Free Helpline<br>(866) 232-8484<br>
				<a href="http://www.alzfdn.org/" target="_blank">www.alzfdn.org</a></p>
		</div>
		<div class="support">
			<h1>NIH's Alzheimer's Disease Education and Referral Center</h1>
			<p>Toll-Free Helpline<br>1 (800) 438-4380<br>
				<a href="http://www.nia.nih.gov/alzheimers/" target="_blank">www.nia.nih.gov/alzheimers</a></p>
			</div>
		<div class="support">
			<h1>Veteran Affair's Caregiver Support</h1>
			<p>Toll-Free Helpline<br>1 (855) 260-3274<br>
				<a href="http://www.caregiver.va.gov/" target="_blank">www.caregiver.va.gov</a></p>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
