<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pages.css" rel="stylesheet">
	<link href="/css/discpagestyle.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="jumbotron" id="indexJumboPost">
		<img src="../images/back.png" alt="Back image" class="backimg">
		<a href="/"><img src="../images/home.png" alt="Home image" class="homeimg"></a>
		<center><p id="profileHead">Support</p></center>
	</div>
	<div class="container">
		<center><a href="/"><img src="../images/teamwork.png" alt="catpic" class="category" id="teamwork"></a></center>
		<div class="individualPost">
			<a href= "../../otherPosts/My mental health is deteriorating"><h1 class="title"> My mental health is deteriorating</h1></a>
			<p class="authortitle"> Fred L. - May 10, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "../../otherPosts/Seeking a volunteer"><h1 class="title"> Seeking a volunteer </h1></a>
			<p class="authortitle"> Sonia G. - Dec 10, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "../../otherPosts/Is my work meaningful?"><h1 class="title"> Is my work meaningful? </h1></a>
			<p class="authortitle"> Tom B. - May 10, 2014 </p>
		</div>
		<div class="individualPost">
			<a href= "../../otherPosts/Should I let my dad go?"><h1 class="title"> Should I let my dad go? </h1></a>
			<p class="authortitle"> Monique S. - Feb 10, 2017 </p>
		</div>
		<div class="individualPost">
			<a href= "../../otherPosts/I want to give up"><h1 class="title"> I want to give up </h1></a>
			<p class="authortitle"> Paula K. - May 30, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "../../otherPosts/Can anyone lend an ear?"><h1 class="title"> Can anyone lend an ear? </h1></a>
			<p class="authortitle"> Michael C. - Sept 1, 2016 </p>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
		<script src="/js/introHCI.js"></script>
</body>
</html>
