<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pages.css" rel="stylesheet">
	<link href="/css/discpagestyle.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="jumbotron" id="indexJumboPost">
		<a href="/"><img src="../images/back.png" alt="Back image" class="backimg"></a>
		<a href="/"><img src="../images/home.png" alt="Home image" class="homeimg"></a>
		<center><p id="profileHead">Trending</p></center>
	</div>
	<div class="container">
		<center><a href="/"><img src="../images/arrow.png" alt="catpic" class="category" id="arrow"></a></center>
		<div class="individualPost">
			<a href= "individualPost/This is what caregiving is all about!"> <h1 class="title"> This is what caregiving is all about! </h1></a>
			<p class="authortitle"> John D. - May 24, 2017 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/Hidden Heroes"> <h1 class="title"> Hidden Heroes </h1></a>
			<p class="authortitle"> Sonia G. - Dec 10, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/Respite is an option!"><h1 class="title"> Respite is an option! </h1> </a>
			<p class="authortitle"> Sam B. - May 10, 2014 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/My darkest moment"><h1 class="title"> My darkest moment </h1></a>
			<p class="authortitle"> Monica S. - Feb 10, 2017 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/5 stages of denial"><h1 class="title"> 5 stages of denial </h1></a>
			<p class="authortitle"> Dr. Paula K - May 2, 2016 </p>
		</div>
		<div class="individualPost">
			<a href= "individualPost/The best walkers"><h1 class="title"> The best walkers </h1></a>
			<p> Brian C. - Sept 1, 2016 </p>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
