* {
  box-sizing: border-box;
}

.div {
    overflow: scroll;
}

html {
	overflow-y: scroll;
}


/*body {
	height:100%;
	background: url("../images/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}*/

body {
	height: 100%;
	font-family: Georgia;
}
.jumbotron {
	position: relative;
	background: url("../images/background.jpg");
	height: 90px;
	margin-bottom: 15px;
}
.backimg {
	position: absolute;
	left: 10px;
	top: 15px;
	padding: 10px;
	height: 70px;
	width: 70px;
}

.homeimg {
	/*float: right;*/
	position: absolute;
	right: 10px;
	top: 15px;
	padding: 10px;
	height: 70px;
	width: 70px;
}
#profileHead {
	/*height: 50px;*/
	font-size: 30px;
	font-weight: 400;
	top: 15px;
}

.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	top:0px;
	left: 0px;
}

.sections {
  border-style: solid;
  border-width: 0.5px;
  text-align: center;
  margin: 25px 35px 45px 35px;
}

.support {
  border-style: hidden;
  margin: 35px 25px 35px 25px;
}

.contacts {
  border-style: solid;
  border-width: 0 0 0.5px 0;
  margin: 40px 25px 35px 25px;
}

#search {
  border: 0.4px solid;
  border-radius: 20px;
  font-size: 18px;
  color: grey;
  margin: 15px 40px 15px 40px;
  padding-left: 10px;
  width: 80%;
  height: 45px;
}

#newContact {
  border: 0.5px solid;
  margin: 0px 70px 35px 70px;
  background-color: lightgray;
  text-align: center;
  line-height: 10px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia;
}

#searchText {
  margin-top: 10px;
}

#searchCont {
  margin-top: 5px;
}

p {
  font-size: 17px;
  color: #000;
}

/*a:link {
	color: blue;
	text-decoration: underline;
	font-size: 17px;
}

a:visited {
    color: blue;
		text-decoration: underline;
		font-size: 17px;
}*/

.searchimg{
  width: 53px;
  margin-left: -10px;
  margin-top: -12px;
  margin-right: -15px;
}

.trendimg{
  width: 100px;
  margin: 0 30px 25px 40px;
  border: 0.5px solid;
  border-radius: 100%;
  padding: 10px;
  color: red;
}

.clockimg {
  width: 100px;
  margin: 0 30px 25px 50px;
  border: 0.5px solid;
  border-radius: 100%;
  padding: 10px;
  color: green;
}

.walkimg {
  width: 100px;
  margin: 0 30px 25px 40px;
  border: 0.5px solid;
  border-radius: 100%;
  padding: 10px;
  color: brown;
}

.medimg {
  width: 100px;
  margin: 0 30px 25px 50px;
  border: 0.5px solid;
  border-radius: 100%;
  padding: 15px;
  color: lightblue;
}

.supportimg {
  width: 100px;
  margin: 0 30px 25px 40px;
  border: 0.5px solid;
  border-radius: 100%;
  padding: 10px;
  color: yellow;
}

.otherimg {
  width: 100px;
  margin: 0 30px 25px 50px;
  border: 0.5px solid;
  border-radius: 100%;
  padding: 10px;
  color: grey;
}

table {
  width: 100%;
}
td {
  width: 33.33%;
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-style: hidden dashed dashed hidden;

  /*text-align: center;*/
}


td .content img {
  height: 115px;
  width: 115px;
  position: absolute;
  top: 10%;
}

td .content p {
  font-size: 200%;
  position: absolute;
  left: 20%;
  bottom: 0;
}

td .content2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-style: hidden hidden dashed hidden;
}

td .content2 img {
  height: 115px;
  width: 115px;
  position: absolute;
  top: 10%;
  left: -7%;
}

td .content2 p {
  font-size: 200%;
  position: absolute;
  left: 28%;
  bottom: 0;
}
