/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

.div {
    overflow: scroll;
}

.html {
	height: 100%;
}

/*body {
	height:100%;
	background: url("../images/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}*/

.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	top:0px;
	left: 0px;
}

#viewProfile {
	position: relative;
	height: 80px;
	margin: auto;
}

#profileP {
	color: black;
	font-size: x-large;
	height: 50px;
	position: relative;
	top: -40px;
}

#photo {
	max-height: 60px;
	max-width: 60px;
	position: relative;
	padding: 5px;
	top: 10px;
	left: -120px;
}

.thumbnail {
	position: relative;
	height: 75px;
	margin: 0;
}

.project {
	height: 100%;
	width: 100%;
}

.thumbnail p {
	color: black;
	font-size: large;
	height: 50px;
	position: relative;
	top: -30px;
}

.thumbnail img {
	max-height: 50px;
	max-width: 50px;
	position: relative;
	padding: 5px;
	top: 10px;
	left: -120px;
}

a:link {
	color: black;
	text-decoration: none;
	font-size: 30px;
}

a:visited {
    color: black;
		text-decoration: none;
		font-size: 30px;
}

#logout {
	position: relative;
	top: -20px;
}

.jumbotron {
	position: relative;
	background: url("../images/background.jpg");
	height: 90px;
	margin-bottom: 15px;
}

/* Profile CSS */
.backimg {
	position: absolute;
	left: 10px;
	top: 15px;
	padding: 10px;
	height: 70px;
	width: 70px;
}

.homeimg {
	/*float: right;*/
	position: absolute;
	right: 10px;
	top: 15px;
	padding: 10px;
	height: 70px;
	width: 70px;
}

.pencilimg1 {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 55%;
	top: 33%;
}

#profileHead {
	/*height: 50px;*/
	font-size: 30px;
	font-weight: 400;
	top: 15px;
}

#name {
	font-size: 45px;
	margin: 0px;
}

#location {
	font-size: 25px;
}

#bio {
	font-size: 20px;
	padding-left: 15px;
}

.pencilimg2 {
	height: 30px;
	width: 30px;
}

#paragraph {
	font-size: 15px;
	padding-left: 40px;
	padding-right: 20px;
}

#viewPosts {
	font-size: 20px;
	position: absolute;
	right: 15px;
	bottom: 110px;
	/*padding-left: 230px;*/
}

.messageimg {
	position: absolute;
	bottom: 50px;
	right: 55px;
	height: 60px;
	width: 60px;
}

.contactimg {
	position: absolute;
	bottom: 45px;
	left: 55px;
	height: 60px;
	width: 60px;
}

#addContact {
	position: absolute;
	bottom: 10px;
	left: 30px;
	font-size: 20px;
}

#sendMessage {
	position: absolute;
	bottom: 10px;
	right: 30px;
	font-size: 20px;
}

/* View Posts */
#indexJumboPost {
	margin-bottom: 0px;
}

.projectPost {
	height: 100%;
	width: 100%;
}

#thumbnailPost {
	position: relative;
	height: 100px;
}

#title {
	position: absolute;
	font-size: 30px;
	font-weight: 200;
	top:10px;
	left: 30px;
	right: 150px;
}

#blueC {
	position: relative;
	left: 70px;
}

#centerBlue {
	font-size: 13px;
	position: absolute;
	top: 30%;
	left: 66%;
}

#greenC {
	position: relative;
	left: 70px;
	top: 0px;
}

#centerGreen {
	font-size: 13px;
	position: absolute;
	top: 65%;
	left: 67%;
}

#replies {
	position: absolute;
	left: 280px;
	top: 20px;
}

#hugs {
	position: absolute;
	left: 280px;
	top: 60px;
}

#carrot {
	position: absolute;
	left: 340px;
	top: 30px;
	font-size: 30px;
}

/* Individual Posts */
.profileimgInd {
	height: 70px;
	width: 70px;
	position: absolute;
	left: 5%;
	top: 17%;
}

#name2 {
	font-size: 20px;
	font-weight: 350;
	position: absolute;
	left: 25%;
	top: 17%;
}

#date2 {
	font-size: 15px;
	font-weight: 325;
	position: absolute;
	left: 37%;
	top: 18%;
}

#heading {
	font-size: 27px;
	font-weight: 450;
	position: absolute;
	left: 25%;
	top: 22%;
	line-height: 90%;
}
