/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

.div {
    overflow: scroll;
}

html {
	overflow-y: scroll;
}


/*body {
	height:100%;
	background: url("../images/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}*/

body {
	height: 100%;
	font-family: Georgia;
}

.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	top:0px;
	left: 0px;
}

#viewProfile {
	position: relative;
	height: 80px;
	margin: auto;
}

#profileP {
	color: black;
	font-size: x-large;
	height: 50px;
	position: relative;
	top: -40px;
}

#photo {
	max-height: 60px;
	max-width: 60px;
	position: relative;
	padding: 5px;
	top: 10px;
	left: -120px;
}

.thumbnail {
	position: relative;
	max-height: 95px;
	margin: 0;
}

#thumbIndex {
	height: 75px;
}

.project {
	height: 100%;
	width: 100%;
}

.thumbnail p {
	color: black;
	font-size: large;
	height: 50px;
	position: relative;
	top: -30px;
}

.thumbnail img {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	top: 10px;
	left: -120px;
}

#imgIndex {
	max-height: 50px;
	max-width: 50px;
	position: relative;
	padding: 5px;
	top: 10px;
	left: -120px;
}


a:link {
	color: black;
	text-decoration: none;
	font-size: 30px;
}

a:visited {
    color: black;
		text-decoration: none;
		font-size: 30px;
}

#logout {
	position: relative;
	top: -20px;
}

.jumbotron {
	position: relative;
	background: url("../images/background.jpg");
	height: 90px;
	margin-bottom: 15px;
}

/* Profile CSS */
.backimg {
	position: absolute;
	left: 10px;
	top: 15px;
	padding: 10px;
	height: 70px;
	width: 70px;
}

.homeimg {
	/*float: right;*/
	position: absolute;
	right: 10px;
	top: 15px;
	padding: 10px;
	height: 70px;
	width: 70px;
}

.pencilimg1 {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 55%;
	top: 33%;
}

#profileHead {
	/*height: 50px;*/
	font-size: 30px;
	font-weight: 400;
	top: 15px;
}

#name {
	font-size: 45px;
	margin: 0px;
}

#location {
	font-size: 25px;
}

#bio {
	font-size: 20px;
	padding-left: 15px;
}

.pencilimg2 {
	height: 20px;
	width: 20px;
}

#paragraph {
	font-size: 15px;
	padding-left: 40px;
	padding-right: 20px;
}

#viewPosts {
	font-size: 20px;
	position: absolute;
	right: 5%;
	margin: 0;
	/*padding-left: 230px;*/
}

.messageimg {
	position: absolute;
	top: 75%;
	right: 30%;
	height: 60px;
	width: 60px;
}

.contactimg {
	position: fixed;
	top: 75%;
	left: 20%;
	height: 60px;
	width: 60px;
}

#addContact {
	position: absolute;
	top: 84%;
	left: 14%;
	font-size: 20px;
}

#sendMessage {
	position: absolute;
	top: 84%;
	right: 20%;
	font-size: 20px;
}

/* View Posts */
#indexJumboPost {
	margin-bottom: 0px;
}

.projectPost {
	height: 100%;
	width: 100%;
}

#thumbnailPost {
	position: relative;
	height: 100px;
}

#title {
	position: absolute;
	font-size: 30px;
	font-weight: 200;
	top:10px;
	left: 30px;
	right: 150px;
}

#blueC {
	position: relative;
	left: 70px;
	top: -1px;
	height: 57%;
}

#centerBlue {
	font-size: 15px;
	position: absolute;
	top: 13%;
	left: 68%;
}

#greenC {
	position: relative;
	left: 70px;
	height: 57%;
	top: -7px;
}

#centerGreen {
	font-size: 15px;
	position: absolute;
	top: 59%;
	left: 67%;
}

#replies {
	position: absolute;
	left: 280px;
	top: 20px;
}

#hugs {
	position: absolute;
	left: 280px;
	top: 60px;
}

#carrot {
	position: absolute;
	left: 340px;
	top: 30px;
	font-size: 30px;
}


/**** Indivdual Posts ****/
.postIcons {
	position: absolute;
	max-height: 5%;
	top: 59%;
}

#heart {
	position: absolute;
	left: 15%;
}

#star {
	position: absolute;
	left: 40%;
}

#report {
	position: absolute;
	left: 65%;
}

#hugText {
	position: absolute;
	top: 64%;
	left: 10%;
	font-size: 110%;
}

#saveText {
	position: absolute;
	top: 64%;
	left: 40%;
	font-size: 110%;
}

#reportText {
	position: absolute;
	top: 62%;
	left: 65%;
	font-size: 110%;
}

.profileimgInd {
	height: 60px;
	width: 60px;
	position: absolute;
	left: 5%;
	top: 17%;
}

.replyProfile {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 6%;
	top: 100%;
}

#name2 {
	font-size: 120%;
	/*font-weight: 350;*/
	position: absolute;
	left: 25%;
	top: 17%;
}

#date2 {
	font-size: 100%;
	font-weight: 325;
	position: absolute;
	left: 37%;
	top: 17%;
}

#heading {
	font-size: 160%;
	font-weight: 600;
	position: absolute;
	left: 25%;
	top: 21%;
	line-height: 90%;
}

#myMessage {
	width: 90%;
	position: absolute;
	top: 30%;
	left: 5%;
	font-size: 140%;
}

.replies {
	position: absolute;
	top: 67%;
	left: 3%;
}

#theirMsg {
	position: absolute;
	width: 270%;
	left: 65%;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 120%;
	padding: 5px;
}

#theirName {
	position: absolute;
	top: 230%;
	font-size: 115%;
	left: 7%;
}

#reply {
	font-size: 150%;
	font-weight: 600;
}

#replyM {
	font-size: 100%;
	color: gray;
	position: absolute;
	top: 360%;
	left: 65%;
}

#replyBox {
	height: 35px;
	font-size: 20px;
	position: absolute;
	bottom: 0;
}

#myReply {
	position: absolute;
	max-width: 250%;
	min-width: 180%;
	left: 85%;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 120%;
	padding: 5px;
	top: 435%;
}

.replyMyProfile {
	height: 35px;
	width: 35px;
	position: absolute;
	top: 420%;
	left: 47%;
}

#name3 {
	font-size: 100%;
	/*font-weight: 350;*/
	position: absolute;
	left: 50%;
	top: 500%;
}

/*** FAQ Page ***/
p.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  font-family: "Bitter", serif;
}

p.accordion.active, p.accordion:hover {
  background-color: #ddd;
}

p.accordion:after {
  content: '\2795' ;
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

p.accordion.active:after {
  content: "\2796";
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height:0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
}

div.panel.show {
  opacity: 1;
  max-height: 500px;
}

.info {
  font-family: "Bitter", serif;
  background-color: #eee;
  width: 100%;
  padding: 18px;
}

/**** Messages ****/
.projectM {
	height: 100%;
	width: 100%;
}

#nameM {
	position: absolute;
	top: 13%;
	left: 27%;
	font-size: 70%;
	font-weight: 500;
}

#timeM {
	position: absolute;
	top: 8%;
	right: 7%;
}

#messageM {
	position: absolute;
	top: 48%;
	left: 27%;
	font-weight: 300;
}

#imgM {
	left: -37%;
	width: 22%;
	height: 25%;
	top: 5%;
}

.imgM {
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 90%;
  border: 1px solid rgba(0,0,30,0.8);
	margin: 3px;
}

.notif {
	top: 10%;
	right: 10%
	height: 10px;
	width: 10px;
	z-index: -1;
}

/**** MESSENGER ****/
#viewTime {
	text-align: center;
	font-size: 110%;
}

#one {
	position: absolute;
	max-width: 60%;
	left: 20%;
	border: 1px solid;
	border-color: #d7dbe2;
	background: #d7dbe2;
	border-radius: 5px;
	font-size: 120%;
	padding: 6px;
	top: 21%;
}

#sentMsg {
	position: absolute;
	max-width: 60%;
	right: 5%;
	border: 1px solid;
	border-color: #92bddb;
	background: #92bddb;
	border-radius: 5px;
	font-size: 120%;
	padding: 6px;
	top: 30%;
}

#zero {
	position: absolute;
	max-width: 60%;
	right: 5%;
	border: 1px solid;
	border-color: #92bddb;
	background: #92bddb;
	border-radius: 5px;
	font-size: 120%;
	padding: 6px;
	top: 21%;
}

#imgV {
	width: 15%;
	height: 18%;
	margin: 10px;
}

.sendBox {
	position: absolute;
	bottom: 0%;
	width: 100%;
}

.form-control {
	height: 50px;
	font-size: 20px;
}

/**** Resources ***/
.sources {
	margin: 10%;
}

.sources p{
	margin: 0;
	font-size: 110%;
}

.sources a{
	font-weight: normal;
	font-size: 110%;
}

#headTitle {
	font-weight: bold;
	font-size: 130%;
}

/*** Write a Post ***/
.titleSection {
	position: absolute;
	top: 15%;
	width: 100%;
	height: 100%;
}

.titleSection p {
	font-size: 150%;
	position: absolute;
	left: 10%;
}
#titleBox {
	width: 80%;
	max-width: 80%;
	position: absolute;
	left: 10%;
	top: 5%;
}

.descriptionSection {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 100%;
}

.descriptionSection p {
	font-size: 150%;
	position: absolute;
	left: 10%;
}

#describeBox {
	width: 80%;
	max-width: 80%;
	height: 20%;
	position: absolute;
	left: 10%;
	top: 5%;
	border: 1px solid #ccc;
	font-size: 125%;
}

.addSection {
	position: absolute;
	top: 57%;
	width: 100%;
	height: 100%;
}

#add {
	font-size: 150%;
	position: absolute;
	left: 10%;
}

.addSection img {
	max-width: 10%;
	max-height: 10%;
	position: absolute;
	top: 5%;
}

.iconText{
	font-size: 120%;
	position: absolute;
	top: 12%;
}

#linkText {
	position: absolute;
	left: 15%;
}

#photosText {
	position: absolute;
	left: 39%;
}

#videosText {
	position: absolute;
	left: 64%;
}

.categorySection {
	position: absolute;
	top: 72%;
	width: 100%;
	height: 100%;
}

.categorySection p {
	font-size: 150%;
	position: absolute;
	left: 10%;
}

table {
  width: 100%;
	position: absolute;
	top: 5%;
}

td {
  width: 33.33%;
	position: relative;
	height: 8vh;
	overflow: hidden;
	left: 5%;
}

td:after {
  /*display: block;
  height: 10vh;*/
	width: 33.33%;
	position: relative;
	height: 8vh;
	overflow: hidden;
}

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
	height: 10%;
}

td .content p {
	font-size: 100%;
	text-align: center;
	border: 1px solid;
	border-color: #71a7f7;
	border-radius: 5px;
	font-size: 120%;
	padding: 1px;
	min-width: 60%;
}

td .content2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
	height: 10%;
}

td .content2 p {
	font-size: 100%;
	text-align: center;
	border: 1px solid;
	border-color: #71a7f7;
	border-radius: 5px;
	font-size: 120%;
	padding: 1px;
	min-width: 60%;
}

.postIt {
	position: absolute;
	top: 27%;
}

#anonymous {
	font-size: 120%;
	position: relative;
	top: 0%;
	left: 80%;
}

#post {
	text-align: center;
	border: 1px solid;
	background-color: #d3d9e2;
	border-radius: 5px;
	font-size: 60%;
	padding: 1px;
	min-width: 95%;
	position: absolute;
	top: 80%;
	left: 160%;
}

.anonymous_icon {
	height: 25px;
	width: 55%;
	position: absolute;
	left: 250%;
	top: 0%;
}
